In [37]:
import pandas as pd, matplotlib.pyplot as plt, time
import numpy as np
import hdbscan

postgres://whitneyreiner@localhost/postgres

In [38]:
#Load training data coordinates
train_coords = np.load('train_datacoor.npy')
#Load training data radians
trainRadians = np.load('train_dataRadians.npy')
#Load training data clusterer_labels
clusterer_labels = np.load('train_clustLabs.npy')
#Load training data clusterer_probabilities
clusterer_probabilities = np.load('train_clustProbs.npy')

In [166]:

## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgres://%s@localhost/%s'%(username,dbname))
print(engine.url)


# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database = dbname, user = username)



def dothething(lat,long):
    #user_input_coords 
    testCoords= np.array([[33.994235,-118.47745612],[lat,long]])
    testRadians = np.radians(testCoords)
    clusterer = hdbscan.HDBSCAN(metric='haversine', min_cluster_size=5, min_samples=6,prediction_data=True)
    clusterer.fit(np.radians(train_coords))
    test_labels, strengths = hdbscan.approximate_predict(clusterer, testRadians)
    usernum = test_labels[1]
    if usernum == -1:
            print("You can park here!")
    else:
        return usernum
        
lat=33.994235
long=-118.47745612
dothething(lat,long)

postgres://whitneyreiner@localhost/postgres

1803

In [218]:

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

import sqlalchemy 
import psycopg2

# Define a database name
# Set your postgres username
dbname = 'postgres'
username = 'whitneyreiner' # change this to your username


## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgres://%s@localhost/%s'%(username,dbname))
print(engine.url)
dbname = 'postgres'
username = 'whitneyreiner' # change this to your username

# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database = dbname, user = username)

def dothething(lat,long):
    #user_input_coords 
    testCoords= np.array([[33.994235,-118.47745612],[lat,long]])
    testRadians = np.radians(testCoords)
    clusterer = hdbscan.HDBSCAN(metric='haversine', min_cluster_size=5, min_samples=6,prediction_data=True)
    clusterer.fit(np.radians(train_coords))
    test_labels, strengths = hdbscan.approximate_predict(clusterer, testRadians)
    app_user = test_labels[1]
    app_user_num = str(app_user)
    app_user_query = 'SELECT * FROM import.clusterprobabilities_dt_fixed WHERE "cluster"'+"='"+ app_user_num +"';"
    
    user_SUBSET = pd.read_sql_query(app_user_query,con)
    
    return user_SUBSET


lat=33.994235
long=-118.47745612
dothething(lat,long)

postgres://whitneyreiner@localhost/postgres

,weekdayindex,hour,violationdescription,percentage,cluster,percent,ratio,weekday
0,1,01:00:00 PM,DOUBLE PARKING,0.003745318,1803,1,267.0000251,Tuesday\r
1,4,12:00:00 PM,DOUBLE PARKING,0.003484321,1803,0.1,28.69999636,Friday\r
2,4,12:00:00 PM,NO PARK/STREET CLEAN,0.003484321,1803,0.9,258.2999672,Friday\r

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

import sqlalchemy 
import psycopg2

# Define a database name
# Set your postgres username
dbname = 'postgres'
username = 'whitneyreiner' # change this to your username


## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgres://%s@localhost/%s'%(username,dbname))
print(engine.url)


# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database = dbname, user = username)
# Connect to make queries using psycopg2
con = None
con = psycopg2.connect(database = dbname, user = username)

def func1(numstats):
    if usernum != -1:
        sql_query=(' "SELECT * FROM import.clusterprobabilities_dt_fixed  WHERE cluster = %s;"%(usernum)')
    return sql_query


sql_query=pd.read_sql_query(sql_query,con)
sql_query2

3

In [158]:
def func1(usernum):
    if usernum != -1:
        sql_query=("SELECT * FROM import.clusterprobabilities_dt_fixed  WHERE cluster = %s;"%(usernum))
    return sql_query



usernum = [5282]
func1(usernum)

sql_query=pd.read_sql_query(sql_query,con)
sql_query2

DatabaseError: Execution failed on sql 'SELECT * FROM import.clusterprobabilities_dt_fixed  WHERE cluster = 5282;': operator does not exist: text = integer
LINE 1: ... import.clusterprobabilities_dt_fixed  WHERE cluster = 5282;
                                                                ^
HINT:  No operator matches the given name and argument type(s). You might need to add explicit type casts.

In [55]:
def calculateit(thething):
    resultclust = test_labels[1]
    sql_query = """SELECT * FROM import.clusterprobabilities_dt_fixed WHERE cluster = %s;%(resultsclust)"""
    table_from_sql = pd.read_sql_query(sql_query,con)
    return table_from_sql


calculateit(dothething)

DatabaseError: Execution failed on sql 'SELECT * FROM import.clusterprobabilities_dt_fixed WHERE cluster = %s;%(resultsclust)': syntax error at or near "%"
LINE 1: ...ort.clusterprobabilities_dt_fixed WHERE cluster = %s;%(resul...
                                                             ^

In [11]:
#user_input_coords 
testCoords= np.array([[33.994235,-118.47745612],
                     [33.994235,-118.47745612]]) #will need to equal lat and long that is input
#USER_INPUT_HERE
#was test_points_coords = testsampleCoords.values
#user input radians from coords
testRadians = np.radians(testCoords)

In [12]:
#set it up so it knows it is prediciton data
clusterer = hdbscan.HDBSCAN(metric='haversine', min_cluster_size=5, min_samples=6,prediction_data=True)
clusterer.fit(np.radians(train_coords))

HDBSCAN(algorithm='best', allow_single_cluster=False, alpha=1.0,
    approx_min_span_tree=True, cluster_selection_method='eom',
    core_dist_n_jobs=4, gen_min_span_tree=False, leaf_size=40,
    match_reference_implementation=False, memory=Memory(cachedir=None),
    metric='haversine', min_cluster_size=5, min_samples=6, p=None,
    prediction_data=True)

In [13]:
test_labels, strengths = hdbscan.approximate_predict(clusterer, testRadians)

In [14]:
#PART-ONE, USER OUTPUT
test_labels

array([1803, 1803])

In [197]:
 test_labels=([18035, 1803])

In [195]:
type(test_labels)

list

In [211]:
user = test_labels[1]
user

type(user)

int